# Copy this file to backend/config/.env (do NOT commit .env)

# Database
MONGO_URI=your_mongo_connection_string_here

# JWT
JWT_SECRET_KEY=studynotion_secret_123
JWT_EXPIRES=7d
COOKIE_EXPIRE=7

# Cloudinary
CLOUDINARY_CLOUD_NAME=dxguukwuq
CLOUDINARY_API_KEY=349798256686414
CLOUDINARY_API_SECRET=H7HPQFBaMIQB9vTo5pKzdiYDixg

# CORS / FRONTEND
FRONTEND_URL=http://localhost:5173
DASHBOARD_URL=http://localhost:5173

# Port
PORT=5000
